/* HEADER */

body{ 
    font-family:roboto, sans-serif ;

}

li{
    display: inline;
}

.menu{
    list-style: none;
}

.wrapper{
    width: 80%;
    margin: auto;
}

.wrapper2{
    width: 70%;
    margin: auto;
}





/* ANIMATIONS */

.hrheader {
    animation: line 1s linear forwards;
}

@keyframes line {
    from {
        width:0%;
    }
    to {
        width: 20%;
    }
}

.centerjust{
    justify-content: center;
    text-align: justify;
}

.date {
    
    animation: move 1s linear forwards;
}

@keyframes move {
    from {
        height: 0%;
    }
    to {
        height: 60%;
    }
}

.hrdiplo {
    animation: large 1s linear forwards;
}

@keyframes large {
    from{
        width: 0%;
    }
    to{
        width: 30%;
    }
}
