/* HEADER */

p {
    font-family: 'Roboto', sans-serif;
}


h2 {
    font-family: 'Roboto', sans-serif;
}

h3{
    font-family: 'Roboto', sans-serif;
}

.nomprenom {
    font-size : 200%;
    font-weight: 900;
}

.job {
    font-size : 150%;
}

/* A PROPOS */

.img-fluid {
    display: inline-block;
}


.lapp {
    height: auto;
}

/* COMPETENCES */


#job {
    font-size : 150%;
}

.title {
    
    
    font-size : 150%;
    
}

.skill {
    width: 100%;
}

.row {
    margin : auto;
    max-width: 1200px;
}

/* EXPERIENCES */

